@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Josefin Sans", sans-serif;
    @apply bg-pink-100 text-red-500;
  }

  h1 {
    @apply text-5xl font-semibold;
  }

  .animation {
    @apply transition-all duration-300 ease-in-out;
  } 

  .grow-animation {
    @apply animation hover:scale-105;
  }

  .sidebar li {
    @apply px-2 lg:px-12;
  }
  .sidebar a {
    @apply flex items-end justify-center lg:justify-start gap-x-5 text-4xl text-pink-500 transition-all duration-300 ease-out;
  }
  .sidebar span {
    @apply lg:inline hidden;
  }
  
}


.active {
  color: rgb(239, 68, 68) !important;
  font-weight: 700;
  transform: scale(1.05);
}